body {
    
    background-size: 100vw 100vh;
    opacity: 0.9;
    background-image: url("img/fundal3.jpg");
}

.carousel-item{
    width: 100%;
    height: 85vh;
}

h1{
    font-family: 'Catamaran', sans-serif;
    
    font-weight: 540;
}

.titlu_fundal{
    background-color: rgb(169,169,169,0.7);
    width: 300px;
    border-radius: 8px;
    padding: 5px;
    text-shadow: 1.5px 1.5px gray;
}



